.footer {
    bottom: 0;
    height: 100px;
    display: block;
    padding: 5px;
    left: 0;
    width: 100%;
    background-color: #E1694E;
    position: fixed;
    flex: 1
}

.footer-text {
    text-align: center;
    word-spacing: 5px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

main {
    display: flex;
    min-height: 100vh;
}

h5 {
    text-align: center;
    word-spacing: 5px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}
